*:not(body):not(html):hover {
	background-color: lightblue;
 }

p {
	margin: 2em;
}

.p1 {
	padding: 2em;
	width: 30%;
	height: 150px;
	overflow: scroll;
}

.p2 {
	width: 30%;
	height: 150px;
	overflow: hidden;
}
