*:not(body):not(html):hover {
	background-color: lightblue; /*lightblue color when user hovers over any element... exluding body and html*/
 }

p {
	margin: 2em;
}

.p1 {
	padding: 2em;
	width: 30%;
	height: 150px;
	overflow: scroll; /*overflow's scroll option gives two scroll bars, one horizontal and one vertical. Same can be accomplished using "auto" if the browser windows is small but there's a lot of text*/
}

.p2 {
	width: 30%;
	height: 150px;
	overflow: hidden; /*overflow's hidden option will keep text hidden if it overflows from the text box*/
}
